{% extends "user_dashboard/index4.html" %}
{% block content %}
<style>
    .disable-select {
        user-select: none;
    }
    #timer {
        font-size: 20px;
        font-weight: bold;
        color: red;
    }
</style>
<script>
   let remainingMinutes = {{ remaining_minutes }}; // Remaining minutes
    let remainingSeconds = {{ remaining_seconds }}; // Remaining seconds

    function updateTimer() {
        document.getElementById('timer').innerHTML = `Remaining Time: ${remainingMinutes} minutes ${remainingSeconds} seconds`;

        if (remainingMinutes === 0 && remainingSeconds === 0) {
            // Redirect to quiz results when time is up
            window.location.href = '{% url "quiz_results" quiz.id %}';
        } else {
            // Update the timer every second
            setTimeout(function () {
                if (remainingSeconds === 0) {
                    if (remainingMinutes === 0) {
                        // Redirect to quiz results when time is up
                        window.location.href = '{% url "quiz_results" quiz.id %}';
                        return;
                    }
                    remainingMinutes -= 1;
                    remainingSeconds = 59;
                } else {
                    remainingSeconds -= 1;
                }
                updateTimer();
            }, 1000);
        }
    }

    // Start the timer
    window.onload = updateTimer;
        
  </script>
<h1>{{ quiz.name }} Quiz - Question {{ question.id }}</h1>
<div id="timer">Remaining Time:  {{ remaining_minutes }} minutes {{ remaining_seconds }} seconds</div>
    <form method="post" action="{% url 'question_detail' quiz_id=quiz.id question_id=question.id %}">
        {% csrf_token %}
        <h2 class="disable-select">Question {{ question.id }}:</h2>
        <p>{{ question.text }}</p>
        {% for answer in answers %}
            <label  class="disable-select">
                <input type="radio" name="chosen_answer" value="{{ answer.id }}" required>
                {{ answer.text }}
            </label><br>
        {% endfor %}
        <button type="submit">Next</button>
        <input type="checkbox" name="bookmark" {% if user_answer and user_answer.bookmarked %}checked{% endif %}>
        <label for="bookmark">Bookmark this question</label>

        <button type="submit">Next</button>
    </form>
{% endblock content %}