{% extends "user/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_sign.css' %}">
<section class="Form my-4 mx-5">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="{% static 'img/long.png' %}"  alt="">
                
                </div>
                <div class="col-lg-7 px-5 pt-5 mt-5 ">
                    <h2>Examwebsite</h1>
                    <h5> Reset Password</h5>
                
                         
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" name="new_password"  class="form-control">
                               
                            </div>
                    
                    
                    
                            <div class="form-group">
                                <label for="password">Re confirm password</label>
                                <input type="text" name="reconfirm_password"   class="form-control">
                               
                            </div>
                    
                    
                            <input type="hidden" name="user_id" value="{{user_id}}">
                            
                           
                            <button class="btn bg-primary" type="submit">Submit</button>
                    
                        </form>
                    </div>
                    
                </div>
                
                
            </div>
        </form>
       
    </div>
</section>
{% endblock content %}